{% include "calls/site_base.html" %}
{% include "calls/navbar.html" %}
<body>
    <section class="hero is-primary">
      <div class="hero-body has-background-danger">
        <div class="container">
          <h1 class="title">
            About 911maps
          </h1>
        </div>
    </section>
    <section class="section">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li>
                <a href="/">
                  <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                  </span>
                  <span>Home</span>
                </a>
              </li>
              <li class="is-active">
                <a href="#">
                  <span class="icon is-small">
                    <i class="fas fa-question-circle" aria-hidden="true"></i>
                  </span>
                  <span>About</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
  <section class="section is-primary">
    <div class="container">
      <h1 class="title">How it works</h1>
      <br>
      <h2 class="subtitle">
        This website maps and provides details about emergency incidents using data obtained from local agencies.
      </h2>
      <p> Many departments are upgrading to CAD (computer aided dispatch) systems that provide advanced features,
      including heatmapping and detailed information about calls.</p> 
      <br>
      <p>Unfortunately, the public has traditionally not had access to the insights provided by these features. In response to public records requests, departments provide information that lacks many of the insights provided by advanced CAD systems. 911maps is a tool for opening up public safety data and learning about trends in your community. </p>
      <br>
      <p>The site works by obtaining data from these agencies and uploading it to the site where it can be mapped and analyzed by users.</p>
      <br>
      <p>The source code of this website is <a href="https://github.com/gavinrozzi/911maps">open-source software</a> created by <a href="https://gavinrozzi.com">Gavin Rozzi</a> in 2019</a></p>
    </div>
  </section>
</body>
