<!-- 911maps/nineoneonemaps/calls/templatesindex.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.6.0/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Call history for {{ address }}, {{ city }} - 911maps</title>
</head>
{% include "calls/navbar.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load social_share %}
{% leaflet_js %}
{% leaflet_css %}
{% block content %}