{% include "calls/site_base.html" %}
{% include "calls/navbar.html" %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% load geojson_tags %}
<script src="https://cdn.jsdelivr.net/npm/leaflet-ajax@2.1.0/dist/leaflet.ajax.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.heat@0.2.0/dist/leaflet-heat.min.js"></script>
<body>
<section class="hero is-primary has-background-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        All 911 Calls
      </h1>
      <h2 class="subtitle">
        Showing the first 50
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="/">
              <span class="icon is-small">
                <i class="fas fa-home" aria-hidden="true"></i>
              </span>
              <span>Home</span>
            </a>
          </li>
          <li class="is-active">
            <a href="#">
              <span class="icon is-small">
                <i class="fas fa-ambulance" aria-hidden="true"></i>
              </span>
              <span>All Incidents</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
<script type="text/javascript">
function map_init(map, options) {
    var collection = {{ calls_as_geojson|safe }};
    geoJson2heat = function(geojson) {
      return geojson.features.map(function(feature) {
      return [parseFloat(feature.geometry.coordinates[1]), parseFloat(feature.geometry.coordinates[0])];
      });
      }
    var geoData = geoJson2heat(collection, 1);
    var heatMap = new L.heatLayer(geoData,{radius: 30, blur: 25, maxZoom: 17});
    //function onEachFeature(feature, layer) {
    //    layer.bindPopup(feature.properties.description + feature.properties.sent);
    //}

    //L.geoJson(collection, {
      //onEachFeature: onEachFeature
    //}).addTo(map);
    map.addLayer(heatMap); 
  }
</script>
<article class="message is-info">
  <div class="message-header">
    <p>Important Note</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    The information presented on this website and used to generate maps was directly entered by <strong>real 911 dispatchers</strong> and obtained under the New Jersey Open Public Records Act.
  </div>
</article>
{% leaflet_map "map" callback="map_init" %}
<section class ="section">
{% block content %}
<table class="table is-hoverable is-fullwidth">
<thead>
<tr>
 <th>Date</th>
 <th>Description</th>    
 <th>Building</th>
 <th>Address</th>
 <th>Priority</th>
</tr>    
<tbody>
        {% for call in latest_calls_list %}
           <tr>
            <td>{{ call.received }}</td>
            <td><a href="/call/{{ call.id }}/">{{ call.description }}</a></td>
            <td>{{ call.place }}</td>
            <td>{{ call.address }}</td>
            <td>{{ call.priority }}</td>
         </tr>
       {% endfor %}
</tbody>
{% endblock %}
</section>
<nav class="pagination" role="navigation" aria-label="pagination">
  {% if page_obj.has_previous %}
  <a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}"title="This is the first page" disabled>Previous</a>
  {% endif %}
  <a class="pagination-next" href="?page={{ page_obj.next_page_number }}">Next page</a>
  <ul class="pagination-list">
    <li><a href="?page={{ page_obj.next_page_number }}"></a>
      <a class="pagination-link is-current"  aria-label="Page 1" aria-current="page">1</a>
    </li>
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
    <li>
      <a class="pagination-link" aria-label="{{ i }}">2</a>
    </li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    <li>
      <a class="pagination-link" aria-label="Goto page 3">3</a>
    </li>
  </ul>
</nav>
</body>