<footer class="footer">
    <div class="content has-text-centered">
      <p>  
        <h2><i class="fas fa-map-marked-alt"></i> <strong>911maps</strong></h2> 
        Created by <a href="https://www.gavinrozzi.com">Gavin Rozzi</a>, Copyright © 2019 
      </p>
      <p><a href="https://github.com/gavinrozzi/911maps">Source code available under the terms of the GNU GPLv3 License</a></p>
      <p>All data presented on this website was obtained under the <a href="https://opramachine.com">New Jersey Open Public Records Act.</a>
        Any inaccuracies or typos are the responsibility of the government agency that produced the data.
      </p>
    </div>
  </footer>