{% include "calls/site_base.html" %}
{% include "calls/navbar.html" %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<body>
<section class="hero is-primary has-background-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        By Call Nature
      </h1>
      <h2 class="subtitle">
      {{ total_natures}} natures available
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <a href="/">
              <span class="icon is-small">
                <i class="fas fa-home" aria-hidden="true"></i>
              </span>
              <span>Home</span>
            </a>
          </li>
          <li class="is-active">
              <a href="/natures/">
                <span class="icon is-small">
                  <i class="fas fa-check-square" aria-hidden="true"></i>
                </span>
                <span>By Nature</span>
              </a>
            </li>
              <span>{{ call_nature }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
<section class="section">
{% for nature in natures %}
<div class="list is-hoverable">
        <a class="list-item" href="/nature/{{ nature.description }}">
        {{ nature.description|title }}
        </a>
{% endfor %}
</div>
</section>
{% include "calls/footer.html" %}