<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="fas fa-map-marked-alt"></i>&nbsp;<strong>911maps</strong>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" href="https://911maps.com">
      <div class="navbar-start">
        <a class="navbar-item" href="/calllist">
          All Calls
        </a>
        <a class="navbar-item" href="/priority">
          Priority
        </a>
        <a class="navbar-item" href="/natures">
          Nature
        </a>
        <a class="navbar-item" href="/agencies">
          Agencies
        </a>
        <a class="navbar-item" href="/jurisdictions">
          Jurisdictions
        </a>
        <a class="navbar-item" href="/about">
          About
        </a>

  </div>
</div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>